# 控制主机-执行脚本的机器
control_host=cdh2-1
# 控制主机用户名
host_user=root
# 控制主机密码
host_passwd=xiaohei.info
# 网络测试主机
contrast_host=cdh2-2
# mysql服务器地址
mysql_host=cdh2-2
# mysql数据路径
mysql_data_dir=/root/mysql/data
# mysql binlog路径
mysql_binlog_dir=/root/mysql/binlog/mysql_binary_log
# mysql root密码
mysql_root_passwd=mysql@DW
# cm服务器地址
cm_host=cdh2-1
# cm安装路径
cm_install_path=/root/cloudera/parcel-repo
# cm数据库密码
cm_db_passwd=scm@DW