# init_ssh/install_softs/init_sys/init_dev/init_mysql/test_sys/init_cm
exec_type=init_ssh
# 控制主机-执行脚本的机器
control_host=cdh2-1
# 控制主机用户名
control_user=root
# 控制主机密码
control_passwd=xiaohei.info
# 网络测试主机
contrast_host=cdh2-4
# mysql服务器地址
mysql_host=cdh2-3
# mysql数据路径
mysql_data_dir=/opt/mysql/data
# mysql binlog路径
mysql_binlog_dir=/opt/mysql/binlog/mysql_binary_log
# mysql root密码
mysql_root_passwd=mysql@DW
# cm服务器地址
cm_host=cdh2-1
# cm安装路径
cm_install_path=/opt/cloudera/parcel-repo
# cm数据库密码
cm_db_passwd=scm@DW
# 软件安装包路径
install_path=/tmp